/* Global */

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3, p {
  margin: 0;
}

/* Header */

header {
  width: 100%;
  padding: 15px 0 10px 0;
  border-bottom: solid 5px #CCCCCC;
}

.logo {
  height: 54px;
  padding-left: 20px;
}

/* Main Content */

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.status {
  width: 180px;
  margin: -65px -10px 0 0;
  padding: 8px 0;
  background-color: #CCCCCC;
  color: #222222;
  text-align: center;
  float: right;
}

.box {
  width: 100%;
  float: left;
  clear: both;
  border: solid 5px #CCCCCC;
}

.icon {
  float: left;
  width: 80px;
  height: 80px;
  background: #CCCCCC;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin: 10px 10px 10px 10px;
}

.date {
  text-align: center;
  width: 70px;
  margin: 0 auto;
  padding-top: 18px;
}

.content {
  float: right;
  padding: 10px 50px 10px 10px;
  width: 82%;
}

/* Dividers */

.divider {
  clear: both;
  height: 20px;
  margin: 0 auto;
}

.divider-large {
  clear: both;
  height: 70px;
  margin: 0 auto;
}

/* Links & Buttons */

.link {
  padding-left: 10px;
}

.slider-link {
  margin-top: 5px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.slider-link:hover{
  text-decoration: none;
}

.title-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.title-link:hover {
  text-decoration: none;
}

.backtop {
  text-align: right;
}

.button {
  width: 250px;
  margin: 10px 0 5px 0;
  padding: 8px 0;
  background-color: #CCCCCC;
  color: #222222;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

.button:hover {
  text-decoration: none;
}
